
.Login_Container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    position: absolute;
    font-family: monospace;
    overflow-y: hidden;
    
}

.Login_Box {
    padding: 20px,20px;
    border-radius: 10px;
    border: 1px solid #FEE715;
    width: 30%;
    text-align: center;
   
}
input[type="email"], input[type="password"],input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    width: 90%;
    border: 1px solid #FEE715;
    border-radius: 5px;
    outline: none;
    margin-bottom: 20px;
   
    
}
input[type="email"]:focus, 
input[type="password"]:focus,
input[type="text"]:focus
 {
    border: 2px solid #FEE715;
    box-shadow: 0px 0px 5px #FEE715;
    font-weight: bolder;
}

input[type="submit"] {
    padding: 10px;
    margin-bottom: 10px;
    width: 90%;
    border: 1px solid #FEE715;
    color: white;
    border-radius: 5px;
    margin-top: 30px;
    background-color:#101820 ;
    font-size: large;
    font-family: monospace;
}

input[type="submit"]:hover {
    background-color: #FEE715;
    cursor: pointer;
    color: #101820;
    font-weight: bold;

}
.sign{
    text-decoration: none;
    color: #FEE715;
    font-weight: bold;
}

/* Media Queries for Mobile Devices */
@media only screen and (max-width: 768px) {
    .Login_Container
    {
        width: 100%;
        overflow: hidden;
    
    }
    .Login_Box {
        width: 80%; /* Makes the box take up more space on smaller screens */
        padding: 20px;
    }
    
    input[type="email"], input[type="password"], input[type="submit"],input[type="text"] {
        width: 100%; /* Ensure inputs take up full width on mobile */
    }
}

@media only screen and (max-width: 480px) {
    .Login_Box {
        width: 90%;
        padding: 15px;
    }

    h1 {
        font-size: 1.5rem; /* Adjust heading size for small screens */
    }

    input[type="email"], input[type="password"], input[type="submit"],input[type="text"] {
        padding: 8px;
        font-size: 1rem; /* Adjust input font size for mobile */
    }

    input[type="submit"] {
        margin-top: 20px;
    }

    .sign {
        font-size: 1rem;
    }
}